.lesson{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.txt_lesson{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        background-color: var(--yellow);
    }
}
.box_lesson{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.first_box_lesson{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    .h2_box{
        font-size: 25px;
        font-weight: 600;
    }
    img{
        width: 35%;
        height: 35%;
    }
    hr{
        width: 90%;
        background-color: var(--black);
    }
}

@media (max-width: 1346px) {
    .lesson{
        width: 100%;
        height: 800px;
        .txt_lesson{
            width: 100%;
            height: 10%;
        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .first_box_lesson{
            width: 30%;
            height: 75%;
        }
    }
  }
  @media (max-width: 1280px) {
    .lesson{
        width: 100%;
        height: 800px;
        .txt_lesson{
            width: 100%;
            height: 10%;

        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .first_box_lesson{
            width: 30%;
            height: 75%;
        }
    }
  }
  @media (max-width: 1024px) {
    .lesson{
        width: 100%;
        height: 800px;
        .txt_lesson{
            width: 100%;
            height: 10%;

        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .first_box_lesson{
            width: 30%;
            height: 75%;
        }
    }
  }
  @media (max-width: 828px) {
    .lesson{
        width: 100%;
        height: 1600px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 50%;
            hr{
                width: 60%;
            }
        }
    }
  }
  @media (max-width: 820px) {
    .lesson{
        width: 100%;
        height: 1600px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 50%;
            hr{
                width: 60%;
            }
        }
    }
  }
  @media (max-width: 780px) {
    .lesson{
        width: 100%;
        height: 1600px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 50%;
            hr{
                width: 60%;
            }
        }
    }
  }
  @media (max-width: 768px) {
    .lesson{
        width: 100%;
        height: 1950px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 900%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 50%;
            hr{
                width: 60%;
            }
        }
    }
  }
  @media (max-width: 768px) {
    .lesson{
        width: 100%;
        height: 1500px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 30%;
            hr{
                width: 60%;
            }
        }
    }
  }
  @media (max-width: 712px) {
    .lesson{
        width: 100%;
        height: 1800px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 50%;
        }
    }
  }
  @media (max-width: 709px) {
    .lesson{
        width: 100%;
        height: 1800px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 50%;
        }
    }
  }
  @media (max-width: 686px) {
    .lesson{
        width: 100%;
        height: 1300px;
        flex-direction: column;
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 30%;
        }
    }
  }
  @media (max-width: 414px) {
    .lesson{
        width: 100%;
        height: 1300px;
        flex-direction: column;
        .txt_lesson{
            width: 100%;
            height: 10%;
        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 30%;
        }
    }
  }
  @media (max-width: 367px) {
    .lesson{
        width: 100%;
        height: 1450px;
        flex-direction: column;
        .txt_lesson{
            width: 100%;
            height: 10%;
        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 30%;
            display: flex;
            justify-items: center;
            align-items: center;           
            .h2_box{
                width: 100%;
                font-size: 21px;
            }
        }
    }
  }
  @media (max-width: 364px) {
    .lesson{
        width: 100%;
        height: 1450px;
        flex-direction: column;
        .txt_lesson{
            width: 100%;
            height: 10%;
        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 30%;
            display: flex;
            justify-items: center;
            align-items: center;           
            .h2_box{
                width: 100%;
                font-size: 23px;
                display: flex;
                justify-items: center;
                align-items: center; 
            }
        }
    }
  }
  @media (max-width: 337px) {
    .lesson{
        width: 100%;
        height: 1450px;
        flex-direction: column;
        .txt_lesson{
            width: 100%;
            height: 10%;
        }
        .box_lesson{
            width: 100%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .first_box_lesson{
            width: 100%;
            height: 30%;
            display: flex;
            justify-items: center;
            align-items: center;           
            .h2_box{
                width: 100%;
                font-size: 21px;
            }
        }
    }
  }